---
---

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: yellow;
  overflow-x: hidden;
}

a {
  color: white;
}

p {
  max-width: 700px;
  img {
    display: block;
    width: 100%;
  }
}

div.wrapper {
  padding: 0 1.5rem;
  clear: both;
}

header.home {
  position: relative;
  padding: 1rem 0;
  transform-origin: top left;
  transform:rotate(1.718deg); // tan-1(0.03)
  z-index: 1000;

  h1 {
    line-height: 1;
    margin: 0;
    font-family: 'Major Mono Display';
    font-weight: normal;
    font-size: 7vw;
    @media(min-width: 714px) { font-size: 50px }

    a {
      color: red;
      text-decoration: none;
    }
  }
}

main:before, main:after {
  content: '';
  display: block;
  background: yellow;
  height: 3vw;
  position: absolute;
  width: 100%;
}
main:before {
  top: 0;
  left: 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%
  );
}
main:after {
  bottom: -0.5px;
  left: 0;
  clip-path: polygon(
    0 100%,
    100% 0,
    100% 100%,
  );
}

footer { height: 20rem }

main {
  background: red;
  padding: 3vw 0;
  color: white;
  position: relative;
  overflow: hidden;
  div.wrapper {
    padding-right: 3rem;
  }
  h2 {
    margin: 0;
    margin-top: calc(2rem - 3vw);
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: normal;
    font-size: 2em;
    padding-right: 2rem;
  }
  div.sideways {
    transform-origin: top right;
    transform: rotate(90deg) translateX(100%);
    white-space: nowrap;
    position: absolute;
    top: calc(1rem + 3vw);
    right: 0.4rem;
    p {
      margin: 0;
    }
  }

  ul.index {
    padding: 0 1.5rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

    a {
      color: black;
      text-decoration: none;
      flex: 1 1 calc(175px + 5vw);
      display: inline-block;
      margin: 2rem;
      padding: 1rem;
      background: white;
      $perspective: calc(100px);
      $amount: 3deg;
      transform-origin: center;
      transform: perspective($perspective) rotate3D(-1, 1, 0, $amount);
      box-shadow: -5px 5px 0px darkblue;
      box-sizing: border-box;

      li {
        margin: 0;
        padding: 0;
        display: block;

        h3 {
          margin: 0;
          margin-bottom: 1rem;
          text-align: center;
        }

        img {
          display: block;
          width: 100%;
        }
      }

      &.empty {
        box-shadow: none;
        background: none;
        height: 0;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

// --- MOC pages ---

header.moc {
  position: relative;
  padding: 1rem 0;
  transform-origin: top right;
  transform:rotate(-1.718deg); // tan-1(0.03)
  z-index: 1000;
  background: red;
  margin-left: -10px;

  h1 {
    line-height: 1;
    margin: 0;
    font-family: 'Major Mono Display';
    font-weight: normal;
    font-size: 7vw;
    @media(min-width: 714px) { font-size: 50px }

    a {
      color: white;
      text-decoration: none;
    }
  }
}

img.moc {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background: white;
}

div.hr_wrapper {
  height: 0;
  hr {
    height: 3vw;
    background: #f00;
    border: none;
    padding: 0;
    margin: 0 -10px;
  }
}
div.moc-image:nth-child(odd) hr {
    transform-origin: top left;
    transform:rotate(1.718deg) translateY(-3vw); // tan-1(0.03)
}
div.moc-image:nth-child(even) hr {
    transform-origin: top right;
    transform:rotate(-1.718deg) translateY(-3vw); // tan-1(0.03)
}

div.overlay {
  position: fixed;
  background: #fffc;
  color: black;
  a { color: black }
  bottom: 0rem;
  right: 0rem;
  padding: 1rem;
  margin: 1rem;
  border-top: 5px solid darkblue;
  border-left: 5px solid darkblue;
  max-width: 500px;
  z-index: 1000;
  transform: perspective(100px) rotate3D(1, 1, 0, 1deg);

  h1, h2, h3 {
    margin: 0;
  }

  div.download {
    float: right;
  }
}

@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: normal;
  src: url('EB_Garamond_italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: normal;
  src: url('Major_Mono_Display.woff2') format('woff2');
}
