---
---

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: red;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}

div.wrapper {
  padding: 0 1.5rem;
  clear: both;
}

div.sideways {
  transform-origin: top right;
  transform: rotate(90deg) translateX(100%);
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: 0.4rem;

  p {
    margin: 0;
  }
}

header {
  background: yellow;
  padding: 1rem 0;
  h1 {
    line-height: 1;
    margin: 0;
    a {
      color: red;
      font-family: 'Major Mono Display';
      font-weight: normal;
      border: none;
      font-size: 7vw;
      @media(min-width: 714px) { font-size: 50px }
    }
  }
}

main {
  position: relative;
  @media(min-width: 800px) { padding-right: 2rem }
  h2 {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: normal;
    font-size: 2em;
    padding-right: 2rem;
  }
}

ul.index {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;

  a {
    color: black;
    border: none;
    flex: 1 1 calc(175px + 5vw);
    display: inline-block;
    margin: 2rem;
    padding: 1rem;
    background: white;
    $perspective: calc(100px);
    $amount: 3deg;
    transform-origin: center;
    transform: perspective($perspective) rotate3D(-1, 1, 0, $amount);
    box-shadow: -5px 5px 0px darkblue;
    box-sizing: border-box;

    li {
      margin: 0;
      padding: 0;
      display: block;

      h3 {
        margin: 0;
        margin-bottom: 1rem;
        text-align: center;
      }

      img {
        display: block;
        width: 100%;
      }
    }

    &.empty {
      box-shadow: none;
      background: none;
    }
  }
}

@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: normal;
  src: url('EB_Garamond_italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: normal;
  src: url('Major_Mono_Display.woff2') format('woff2');
}
